<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- To add query paramters we use queryParams which is not a new directive istead it's jsut a bindable property of the routerLink directive and here we pass js object -->
      <!-- And on queryParams we pass js object in which we define the key value pairs of the parameters we want to edit we can add multiple key value pairs which in the url will be separated by &keyword -->
      <!-- we also have the fragment property as we can have only one fragment -->
      <a
        [routerLink]="['/servers', 5, 'edit']"
        [queryParams] = "{allowEdit: '1'}"
        fragment = "Loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- <button class="btn btn-primary" (click)="reloadPage()">Reload Page</button> -->
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

